:root {
  --primary-color: #dcd802;
  --secondary-color: #64bf15;
  --condensed-font: "Roboto Condensed", sans-serif;
  --heading-font: "Roboto Condensed", sans-serif;
  --body-font: 'Roboto', sans-serif;
  --digital-font: "ZCOOL QingKe HuangYou", "Roboto Condensed", "Helvetica", cursive;
  --release-color: #5cb3ee;
  --bugfix-color: #5d05ecd6;
}